*{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

:root{
    --prime-color: #994D22;
    --balck-color: #1b1b1b;
    --second-color: #e87324;
    --flame: #E95D24ff;
    --red: #FF0000ff;
}


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: var(--prime-color); */
}

.container{
    padding: 0 15px;
}


/* *************************** */

.loader-div{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 99999;
    display: grid;
    place-content: center;
}
.loder-hide{
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid var(--prime-color);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

/* **************** */

.scoll-ind{
    width: 0;
    height: 2.5px;
    background-color: var(--second-color);
    position: fixed;
    top: 0;
    z-index: 9999999;
    animation: scroll-ind 1s linear;
    animation-timeline: scroll();
}

@keyframes scroll-ind{
    to{
        width: 100%;
    }
}



/* navbar */

.nav-bar{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9;
    padding: 15px 0;
    transition: all .2s linear;
}

.nav-scroll{
    padding: 11px 0;
    box-shadow: 0 0 5px  rgba(17, 17, 17, 0.4);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
}

.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 160px;
    position: relative;
}
.logo img{
    width:100%;
}
.nav-links{
    display: flex;
    gap: 23px;
}
.nav-links-ul{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
}
.main-li{
    color: var(--balck-color);
    cursor: pointer;
    font-weight: 400;
    transition: all .3s linear;
}
.main-li a:hover,
.main-li:hover{
    color: var(--second-color);
}
.main-li a{
    position: relative;
}

.main-li a::before{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--second-color);
    bottom: 0;
    transition: all 0.5s;
    transform-origin: left;
}
.main-li a:hover::before{
    width: 100%;
}
.nav-links a{
    color: var(--balck-color);
    font-weight: 400;
}
.toggle-btn{
    color: var(--balck-color);
    font-size: 22px;
    display: none;
    padding: 0 5px;
    border-radius: 5px;
    transition: all .2s;
}
.close,
.nav-icos{
    display: none;
}


@media (max-width: 768px){

    /* navbar */

    .nav-links{
        width: 100%;
        height: 100vh;
        position: fixed;
        inset: 0;
        /* transform: translate(-50%, -50%); */
        gap: 0;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        opacity: 0;
        visibility: hidden;
        z-index: 999;
    }
    .backgrund{
        z-index: 999;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        inset: 0;
        opacity: 0;
        visibility: hidden;
    }
    .nav-links-ul{
        position: relative;
        width: 70vw;
        height: 50vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all .5s ease;
        border-radius: 20px;
        z-index: 999;
        margin: 0;
        padding: 0;
        transform: scale(1.3);
    }
    .nav-links a{
        color: #1b1b1b;
    }
    .toggle-btn{
        cursor: pointer;
        display: block;
    }

    .nav-act{
        transform: scale(1);
    }
     .active{
        opacity: 1;
        scale: 1;
        visibility: visible;
    }
    .close{
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        transition: all .2s;
        width: 28px;
        height: 28px;
        display: grid;
        place-content: center;
        border-radius: 50%;
    }
    .close:hover{
        background-color: #e4e4e4;
    }
    .nav-icos{
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 40px;
    }
    .nav-icos i{
        font-size: 20px;
    }

}



/* landing Bg */

.landing-bg{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;
    background-color: #000000;
}
.landing-bg .act{
    display: flex;
    visibility: visible;
}

.land-bg-img{
    z-index: 1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.land-bg-img img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 10;
    opacity: 0;
    transition: all .5s;
    visibility: hidden;
    transform: scale(1.4);
}

.gride{
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(45deg,rgba(0, 0, 0, .5),rgba(0,0,0,0.6));
    z-index: 11;
}
.act .land-bg-img img{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}



.contant{
    z-index: 2;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contant h1{
    font-family: 'Abril Fatface', serif;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 2px;
    transform: translateY(50px);
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
}
.contant p{
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    max-width: 70%;
    line-height: 20px;
    transform: translateY(50px);
    transition: all 1.2s;
    opacity: 0;
}
.act .contant h1{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.act .contant p{
    opacity: 1;
    transform: translateY(0);
}

.home-btn{
    transform: translateY(50px);
    transition: all 1.4s;
    opacity: 0;
    visibility: hidden;
}




.get-btn{
    margin-top: 15px;
}
.act .contant .home-btn{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.get-btn a{
    cursor: pointer;
    display: inline;
    background-color: var(--flame);
    color: #fff;
    padding: 10px 25px;
    transition: all .5s;
}
.get-btn a:hover{
    background-color: var(--second-color);
    color: #fff;
    letter-spacing: 5px;
}

.next-pvr-btn{
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 100px;
    width: 100%;
}
.line{
    width: 100px;
    height: 1px;
    background-color: #fff;
}

.slide-btn{
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    display: grid;
    width: 40px;
    height: 40px;
    place-content: center;
    opacity: .7;
    transition: all .5s;
    border-radius: 50%;
}
.slide-btn:hover{
    opacity: 1;
    background-color: #fff;
    color: #000000;
}

.slide-btn i{
    font-size: 30px;
}
.prev{
    left: 20px;
}
.next{
    right: 20px;
}

.scial-icon{
    position: absolute;
    z-index: 5;
    background-color: #1d1d1d;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    right: 0;
    transform: translate(0, 50%);
    padding: 10px;
}
.scial-icon a{
    color: #fff;
}
.scial-icon a:hover{
    color: var(--flame);
}


@media (max-width: 768px){
    .contant h1{
        font-size: 45px;
        line-height: 50px;
        animation: slide-text linear .5s backwards;
    }
    .contant p{
        margin-top: 15px;
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        max-width: 90%;
        line-height: 16px;
    }
    .next-pvr-btn{
        bottom: 30px;
    }
}


/* ************************* */


/* about section  */

.about-wrap{
    padding: 150px 0;
}
.about-container{
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'one tow';
    gap: 20px;
}
.about-text{
    grid-area: one;
}
.about-text h1{
    font-family: 'Abril Fatface', serif;
    font-size: 50px;
    line-height: 45px;
}
.about-text h1 span{
    font-family: 'Abril Fatface', serif;
    color: var(--second-color);
}
.about-text p{
    font-size: 15px;
}
.image-div{
    grid-area: tow;
    position: relative;
    z-index: 7;
    display: flex;
    justify-content: end;
}
.img-bg-color{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #fad4b0;
    opacity: .5;
    z-index: 8;
    top: 0;
    left: 100px;
}
.image-div img{
    width: 90%;
    z-index: 9;
}

.con-wrap{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.con-wrap h1{
    color: var(--balck-color);
}
.con-wrap p{
    font-size: 16px;
    font-weight: 300;
    color: #999999;
}


@media (max-width: 768px){
    .about-container{
        grid-template-areas: 'tow' 'one';
        grid-template-columns: 100% 100%;
    }
    .image-div img{
        width: 100%;
    }
    .about-text h1{
        font-family: 'Abril Fatface', serif;
        font-size: 40px;
        line-height: 45px;
    }
}

/* ***************** */


/* banner */


.banner{
    padding: 120px 0;
    width: 100%;
    background: no-repeat right;
    background-size: cover;
    background-image:linear-gradient(45deg,rgba(0, 2, 19, 0.8),rgba(0,0,0,0.6)), url(./images/3d-rendering-luxury-modern-living-room-with-leather-sofa-lamp.jpg);
    animation: bannerscroll 2s forwards;
    animation-timeline: scroll();
    animation-range: exit;
}

@keyframes bannerscroll{
    to{
        background-position: left;
    }
}



@media (min-width: 768px) {
    .banner{
        animation: view 2s forwards ;
        animation-timeline: scroll();
        animation-range: exit  200px;
    }
    @keyframes view{
        to{
            background-position: left;
        }
    }


}

.banner-container{
    width: 100%;
    display: flex;
    gap: 20px 20px ;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    
}

.banner-section{
    
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.banner-section i{
    color: #fff;
    font-size: 30px;
}
.banner-text h4{
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    margin: 0;
    margin-bottom: 6px;
}
.banner-text p{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    max-width: 200px;
    line-height: 14px;
}
.banner-head{
    display: flex;
    justify-content: center;
}
.banner-head h4{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-bottom: 80px;
    font-size: 23px;
    font-weight: 400;
    position: relative;
    display: inline;
}
.banner-head h4::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #fff;
    left: -50px;
    bottom: 50%;
}


@media (max-width: 768px){
    
    .banner-container{
        width: 100%;
        display: flex;
        gap: 20px 20px ;
    }
    .banner-head h4{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .banner-head h4::before{
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 0;
    }
}




/* section-2 */
.section-2{
    width: 100%;
    padding: 120px 0;
    background-color: #f5f5f5;
}
.why-choose{
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'one tow';
    align-items: center;
}

.choose-img {
    grid-area: one;
    width: 100%;
    height: 100%;
    background-color: #161616;
    overflow: hidden;
}
.choose-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(0);
    filter: grayscale(50%);
}

.choose-img img:hover{
    filter: grayscale(0);
}
.choose-text{
    grid-area: tow;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
}
.choose-text h1{
    font-family: 'Abril Fatface', serif;
    font-size: 40px;
    line-height: 45px;
    margin-top: 50px;
}
.choose-text p{
    font-size: 14px;
    max-width: calc(100% - 30px);
}
.choose-text h1 span{
    font-family: 'Abril Fatface', serif;
    color: var(--second-color);
}
.choose-text h4{
    font-family: 'Raleway', sans-serif;
    color: #c9c9c9;
    margin-bottom: 100px;
    font-size: 21px;
    font-weight: 400;
    position: relative;
    display: inline;
}
.choose-text h4::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #3a3a3a;
    left: -50px;
    bottom: 50%;
}
.star{
    display: flex;
    gap: 6px;
}
.star i{
    opacity: .9;
    color: var(--second-color);
    font-size: 18px;
}
@media(min-width: 1100px){
    .choose-img {
        width: 100%;
        height: 500px;
        background-color: #161616;
    }
}
@media (max-width: 768px){
    .why-choose{
        display: grid;
        gap: 10px;
        grid-template-columns: 100% 100%;
        grid-template-areas: 'one' 'tow';
    }
}

/* ****************** */




.swiper {
    width: 100%;
    height: 100%;
    /* padding: 100px 0; */
    margin: 100px 0;
  }

  .swiper-slide {
    cursor: pointer;
    height: 350px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%);
    z-index: 1;
    transition: all 1s ;
  }
/*  
.pading{
    z-index: 3;
    width: 100%;
    height: 100%;
    transition: all .2s;
    position: absolute;
    background: linear-gradient(0deg,rgba(0, 0, 0, .5),rgba(0,0,0,0), transparent);
} */
.swiper-slide img:hover {
    object-position: left;
    filter: grayscale(0);
  }


/* whatsappicon */

.btn-whatsapp-pulse {
	background: #25d366;
	color: white;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 25px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
    z-index: 99;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}







/* footer */
footer{
    width: 100%;
    padding: 50px 0;
    background-color: #1b1b1b;
    /* box-shadow: 5px 15px 30px var(--balck-color); */
}
.footer-set{
    margin: 20px auto;
}
.footer-set-box{
    margin-top: 30px;
}
.logo-footer{
    width: 150px;
}
.logo-des{
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    max-width: 350px;
}
.footer-icon{
    display: flex;
    gap: 10px;
}
.icon-round{
    width: 35px;
    height: 35px;
    background-color: var(--second-color);
    display: grid;
    place-content: center;
    border-radius: 50%;
    transition: all .2s;
}
.icon-round:hover{
    background-color: var(--prime-color);
}
.icon-round i{
    font-size: 18px;
    color: #fff;
}

.footer-head{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
}
.footer-head::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: var(--flame);
    bottom: -5px;
}
.footer-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-contact-dts a,
.footer-links li,
.footer-links a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    transition: all .3s ;
}
.footer-contact-dts a:hover,
.footer-links a:hover{
    color: var(--second-color);
}
.footer-contact-dts i{
    margin-right: 10px;
}
.footer-ads{
    margin-bottom: 5px;
}
.footer-input{
    margin-top: 18px;
    position: relative;
    display: flex;
    align-items: center;
}
.footer-input input{
    background-color: #ececec;
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    border: solid 1px #ececec;
}
.footer-input input:focus{
    border: solid 1px #6b6b6b;
}
.footer-input input::placeholder{
    color: #c4c4c4;
}
.footer-input i{
    position: absolute;
    left: 210px;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s linear;
}
.footer-input i:hover{
    color: var(--prime-color);
}

.bottom-line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 100px;
}
.Copyright-raw{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.Copyright-raw p{
    font-size: 14px;
    color: #e9e9e9;
    font-weight: 300;
}
.Copyright-raw p a{
    color: #fff;
}



@media (max-width: 768px){
    
    

    /* ******************** */

    .text-div h1{
        font-size: 50px;
        line-height: 50px;
    }

    /* ********* */
    .icon-raw{
        gap: 5px 20px;
    }


    /* footer  */
    .Copyright-raw{
        display: block;
    }
    .Copyright-raw p{
        margin: 0;
    }
}









.VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none !important;
}

.skiptranslate select{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: none;
    background-color: #161616;
    color: #fff;
    padding: 8px 12px;
    appearance: none;
    cursor: pointer;
    outline: none;
    transition: all .2s;
}


.skiptranslate select option{
    background-color: #ffffff;
    color: #000000;
    border: none;
}
.skiptranslate select:hover{
    background-color: #dbdbdb;
    color: #000000;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none;
}



.skiptranslate span{
    display: none;
}
.skiptranslate {
    color: #fff !important;
}



select::-ms-expand {
    display: none;
}

#google_translate_element{
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
    margin-top: 18px;

}